.clear {
  padding-top: 5px;
  padding-bottom: 5px;
}
body {
background-color: #E0F2F1
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 96.3%;

}
.form-group {
  padding-left: 15px;
  width: 96.3%;
}
#navigation {
  background-color: #008975;
}

#navigationText {
  color: white !important;
}

.groupList {
  overflow-y: scroll;
  list-style: none;
  cursor: pointer;
  height: 25vh;
  border-radius: 0;
}

.list {
  background-color: #E0F7FA;
  }

div.createGroupBtn {
  margin-bottom: 20px;
}

div.groupMembers {
  margin-top: 20px;
}

div.messages {
  border: 1px solid #b3b1b1;
  padding: 20px;
  margin-bottom: 15px;
  height: 70vh;
  overflow-y: scroll;
  background: #F3F3F3;
  margin-top: 10px;
}

div.message {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.input-group {
  width: 100%;
}
.selectPriority {
  width: 100%;
    height: 45px;
    border-radius: 0;
}
.welcomeHeader {
  text-align: left;
  padding-left: 5px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}
.card-header {
  font-weight: 500;
  margin-top: 60px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #222;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.error {
  color: red;
  text-align: center;
}

.priorityDisplay {
  color: #FF6F00 !important;
}

#google-sign-in {
  background-color: #c9d8f2;
} 

.button {
  color: #a6b5b4;
}

.btn-primary:hover {
  background-color: #008975;
}
.btn-primary {
  background-color: #008975 !important;
  border: 0!important;
  margin-top: 10px !important;
  border-radius: 0 !important; 
}

.addMember {
  margin-left: 15px;
}
.createGroup {
  background-color: #bf2626 !IMPORTANT;
}

.date {
  color: gray;
}
.messageInput {
  height: 45px;
}
.textArea {
  padding-right: 0;
}
.sendButton {
  height: 45px;
  margin-top: 0 !important;
}
.selectArea {
  padding: 0;
}
.messageText {
  margin: 0 0 2px;
}
.list-group-item:first-child {
  border-radius: 0;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.navbar-inverse {
  margin-bottom: -10px !important;
}


#myNavbar {background-color: #008975;}
p.navbar-brand  {color: white !important;}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
#myNavbar {background-color: #008975;}
.navbar-inverse .navbar-brand > { color: white !important;}
p.navbar-brand  {color: white !important;}
#myNavbar {background-color: #008975;}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
#myNavbar {background-color: green;}
div.navbar-header  {background-color: #008975;}
.navbar-inverse .navbar-brand  { color: white !important;
margin-bottom: -10px;}
p.navbar-brand  {color: white !important;}
#myNavbar {background-color: #008975;}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
#myNavbar {background-color: green;}
div.navbar-header  {background-color: #008975;}
.navbar-inverse .navbar-brand > { color: white !important;
margin-bottom: -10px;}
p.navbar-brand  {color: white !important;}
#myNavbar {background-color: #008975;}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
#myNavbar {background-color: green;}
div.navbar-header  {background-color: #008975;}
.navbar-inverse .navbar-brand { color: white !important;}
p.navbar-brand  {color: white !important;}
#myNavbar {background-color: #008975;}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
#myNavbar {background-color: green;}
div.navbar-header  {background-color: #008975;}
.navbar-inverse .navbar-brand { color: white !important;}
p.navbar-brand  {color: white !important;}
#myNavbar{background-color: #008975;}
}
};