
  .login-container {
    border: 1px solid #ccc;
    width: 550px;
    margin: 0 auto;
    padding: 20px 40px 60px;
}
  .clear {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #navigation {
    background-color: #008975;
  }
  #navigationText {
    color: white !important;
  }
  .groupList {
    height: 35vh;
    overflow-y: scroll;
  }
  .list {
    background-color: #E0F7FA;

  }

.messageBoard {
  background-image: 
  url("https://static.pexels.com/photos/254183/pexels-photo-254183.jpeg");
}
div.createGroupBtn {
  margin-bottom: 20px;
}
div.groupMembers {
  margin-top: 20px;
}

div.messages {
  border: 1px solid grey;
  padding: 20px;
  margin-bottom: 15px;
  height: 70vh;
  overflow-y: scroll;
}

div.message {
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #E0F2F1;
}

.input-group {
  width: 100%;
}
.selectPriority {
  width: 100%;
}
.welcomeHeader {
  text-align: left;
  padding-left: 5px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}
.card-header {
  font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif'; 
}


#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #222;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

  .error {
    color: red;
    text-align: center;
  }

  #priorityDisplay {
    color: #FF6F00
  }